/* Titolo_e_immagini_di_testa */
body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/pattern.png);
    background-size: 600px;
    background-color: blue;
    height: 150px;
}

#logo {
    height: 100px;
    margin-top: 50px;
    margin-left: 10px;
}

h1 {
    font-size: 3em;
    font-weight: 900;

}

#data_articolo {
    margin-bottom: 30px;
}

#fonte {
    color: aqua;
}

.footer_img {
    margin: 0;
}

/* table */

th {
    background-color: #67c1de;
    color: white;
    padding: 10px;
}

.marker {
    background-color: yellow;
}

td {
    background-color: #c6e9f9;
    padding: 10px;
}

.marker_2 {
    background-color: white;
}

/* footer */

h3 {
    color: grey;
}

.container {
    position: relative;
    width: 240px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    margin-bottom: 20px;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
}

h4 {
    margin: 0;
    font-size: 1em;
}

.container_2 {
    position: relative;
    width: 240px;
    height: 200px;
    background-image: url(../img/graph.jpg);
    background-size: cover;
}

.content_2 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
}