/* Titolo_e_immagini_di_testa */

#logo {
    background-image: url(../img/pattern.png);
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}

h1 {
    font-size: 3em;
    font-weight: 900;

}

#data_articolo {
    margin-bottom: 30px;
}

#fonte {
    color: aqua;
}

.footer_img {
    margin: 0;
}

th {
    background-color: #67c1de;
    color: white;
}

#marker {
    background-color: yellow;
}

td {
    background-color: #c6e9f9;
}

.marker_2 {
    background-color: white;
}

h3 {
    color: grey;
}

#img_monitor {
    margin: 0px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 260px;
    text-align: center;
    width: 240px;
    height: 150px;
}

#img_grafico {
    margin: 20pxpx;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 260px;
    text-align: center;

    width: 240px;
    height: 150px;
}