/* Titolo_e_immagini_di_testa */

#logo {
    background-image: url(../img/pattern.png);
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}

h1 {
    font-size: 3em;
    font-weight: 900;

}

#data_articolo {
    margin-bottom: 30px;
}

#fonte {
    color: aqua;
}

#footer_img {
    margin-bottom: 30px;
}

#testo_main_section {
    margin-bottom: 30px;
}

th {
    background-color: #67c1de;
    color: white;
}

td {
    background-color: #c6e9f9;
}

h4 {
    color: grey;
}